@media only screen and (max-width: 9999px) {
    * {
        font-size: 97px;
    }
    section {
        overflow: scroll;
    }
}
@media only screen and (max-width: 8200px) {
    * {
        font-size: 84px;
    }
}
@media only screen and (max-width: 7000px) {
    * {
        font-size: 75px;
    }
}
@media only screen and (max-width: 6000px) {
    * {
        font-size: 60px;
    }
}
@media only screen and (max-width: 5000px) {
    * {
        font-size: 54px;
    }
}
@media only screen and (max-width: 4000px) {
    * {
        font-size: 42px;
    }
}
@media only screen and (max-width: 3200px) {
    * {
        font-size: 34px;
    }
}
@media only screen and (max-width: 2700px) {
    * {
        font-size: 27px;
    }
}
@media only screen and (max-width: 2300px) {
    * {
        font-size: 23px;
    }
}
@media only screen and (max-width: 1920px) {
    * {
        font-size: 20px;
    }
}
@media only screen and (max-width: 1850px) {
    * {
        font-size: 19px;
    }
    body {
        background-size: 100%;
    }
    h1 {
        margin-bottom: 0.4em;
    }
}
@media only screen and (max-width: 1680px) {
    * {
        font-size: 18px;
    }
    button#klikmi {
        margin-left: 25em;  
  }
}
@media only screen and (max-width: 1550px) {
    * {
        font-size: 17px;
    }
    button#klikmi {
        margin-left: 26em;  
  }

}
@media only screen and (max-width: 1450px) {
    button#klikmi,
    input#vreme,
    #savet p.prst,
    #savet p.celo  {
        font-size: 1rem;
        font-weight: 400;
    }
    button#klikmi {
        margin-left: 30em;
    }
}
@media only screen and (max-width: 1369px) {
    * {
        font-size: 16px;
    }
}
@media only screen and (max-width: 1260px) {
    *  {
        font-size: 15px;
    }
}
@media only screen and (max-width: 1120px) {
    * {
        font-size: 14px;
    }
    article {
        line-height: 0.9em;
    }
    button#klikmi {
        margin-left: 28em;  
    }

} 
@media (max-width: 990px)  {
    * {
        font-size: 12.5px;
    }
    h1 {
        padding-top: 1.4em;
        margin-bottom: 0.5em;
    }
    #home li {
        padding-right: 0.6em;
    }
    #home li :hover {
        padding: 0em;
        background-color: darkmagenta;
        color:  rgba(255, 218, 205, 0.979);
        transition: color 0.3s;
    }
    #home li button:hover {
    background-color: darkmagenta;
    }
}
@media  (max-width: 892px) {
    * {
        font-size: 10px;
    }
    #home li {
        padding-right: 0.4em;
    }
    button#klikmi {
        margin-left: 30em;
    }

} 
@media  (max-width: 830px) {
    * {
        font-size: 9px;
    }
        #home li {
        padding-right: 0.3em;
    }
} 
@media  (max-width: 800px) {
    * {
        font-size: 8.5px;
    }
    #home li {
        padding-right: 0.2em;
    }
    h1 {
        padding-top: 1.6em;
        margin-bottom: 0.5em;
    }
} 
@media  (max-width: 790px) {
    * {
        font-size: 7.5px;
    }
        #home li {
        padding-right: 0.1em;
    }
            button#klikmi {
        margin-left: 38em;
    }

} 
@media  (max-width: 771px) {
    * {
        font-size: 7px;
    }
} 
@media  (max-width: 767px)   {
    .mobmeni ul {
        margin-top: 0px;
        list-style-type: none;
        width: 100%;
        padding: 0;  
        background-color: rgba(139, 0, 139, 0.990);
        max-height: 0vh;
        overflow: hidden;   
        transition: all ease-in-out 0.7s;
    }
    .mobmeni ul.open {         /* sa ovim se izvrsava f-ja za prikaz padajuceg menija */
        max-height: 100vh;
    }
    .mobmeni ul li a {
        text-decoration: none;
        font-size: 1.7rem;
        font-weight: 500;
        color: white;    
        display: block;
        text-align: center;
        min-width: 120px;
        padding: 0 30px;
        border-bottom: 1px dotted rgba(255, 218, 205, 0.979);
        border-radius: 1.5emem;
    }
    .mobmeni ul li a:hover {
        background-color:  rgba(255, 218, 205, 0.979);
        color: rgba(139, 0, 139, 0.990);
        font-weight: 700;
        cursor: pointer;
    }
    .mobmeni li button {
        background-color:  rgba(255, 218, 205, 0.979);
        color: rgba(139, 0, 139, 0.974);
        margin-bottom: 1em;
        padding: 0em 0.5em 0em 0.7em;
        border-radius: 0em 0em 0em 3.25em;
        font-size: 2rem;
        font-weight: 700;
}
    .mobmeni li button:hover {
        border-radius: 0em;
        background-color:  rgba(139, 0, 139, 0.974);
        color: rgba(250, 250, 250, 0.990);
        cursor: pointer;
        transform: scale(1.2);
        transition: all 0.5s;
        -webkit-box-shadow: 10px 10px 9px 1px rgba(90, 29, 64, 0.75);
        -moz-box-shadow: 10px 10px 9px 1px rgba(90,29,64,0.75);
        box-shadow: 10px 10px 9px 1px rgba(90,29,64,0.75);;
}
    .mobmeni .mobmeni-toggler {
        display: block;
        position: absolute;
        top: 1.2em;
        right: 2em;
        height: 4.5em;
        width: 4.5em;
        background-color: rgba(139, 0, 139, 0.990);
        color: white;
        border: 2px solid white; 
        outline: none;
        padding: 0 5px;
        cursor: pointer;
    }
    .mobmeni .mobmeni-toggler span,
    .mobmeni .mobmeni-toggler span::before,
    .mobmeni .mobmeni-toggler span::after {
        display: block;
        content: '';
        margin-right: 0.1em;
        background-color: rgba(250, 250, 250, 0.990);
        height: 0.25em;
        width: 2.2em;
        border-radius: 0.5em;
        transition: all ease-in-out 0.3s;
}
    .mobmeni .mobmeni-toggler span::before {
        transform: translateY(-8px);
        }
    .mobmeni .mobmeni-toggler span::after {
        transform: translateY(5px);
        }
    .mobmeni .mobmeni-toggler.open-mobmeni-toggler span {
        background-color: transparent;
        transform: rotate(90deg);
        }
    .mobmeni .mobmeni-toggler.open-mobmeni-toggler span::before {
        transform: translateY(0px) rotate(45deg);
        }
    .mobmeni .mobmeni-toggler.open-mobmeni-toggler span::after {
        transform: translateY(-3px) rotate(-45deg);
        }
    * {
        font-size: 9px;
    }
    body {
        background-size: 100%;
    }
    section {
        width: 100%;
    }
    .meni,
    #desavase aside {
        display: none;
    }
    article {
        line-height: 0.7em;
    }
    .galerija-slike {
    grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 720px) {
    button#klikmi {
        margin-left: 33em;  
  }
}
@media (max-width: 650px) {
    article {
        line-height: 1.2em;
    }
    button#klikmi {
    margin-left: 30em;   
    }
}
@media (max-width: 550px) {
    button#klikmi,
    input#vreme,
    #savet p.prst,
    #savet p.celo  {
        font-size: 0.7rem;
    }
    button#klikmi {
    margin-left: 35em;   
    }
}
@media (max-width: 490px) {
    button#klikmi {
        margin-left: 27em;  
  }
    article {
        line-height: 1.5em;
    }
    .tekst-na-slici {
        font-size: 1.2rem;
        font-weight: 400;
        justify-content: left;
        padding-left: 2em;
        padding-top: 5em;
    } 
    .tekst-na-slici:hover{
        font-weight: 400;
    }
}
@media (max-width: 450px) {
    button#klikmi {
        margin-left: 25em;  
  }
@media (max-width: 410px) {
    button#klikmi {
        margin-left: 21em;  
  }
}
@media (max-width: 350px) {
    button#klikmi {
        margin-left: 17em;  
  }
}
}
